<dialog id="comm-modal" class="modal" data-controller="modal">
  <div class="modal-box">
    <turbo-frame id="comm_modal_frame"
      data-action="turbo:frame-load->modal#open turbo:submit-end->modal#maybeClose">
    </turbo-frame>
  </div>

  <!-- click backdrop to close -->
  <form method="dialog" class="modal-backdrop" data-action="click->modal#close">
    <button>close</button>
  </form>
</dialog>
