<%# locals: party:, links:, editable: %>
<% grouped = links.group_by(&:party_link_type_code) %>
<% grouped.each do |code, rows| %>
  <div class="mb-3">
    <h3 class="text-sm opacity-70"><%= Ref::PartyLinkType.find(code).name %></h3>
    <ul class="divide-y">
      <%= render partial: "party/links/row",
                 collection: rows, as: :link,
                 locals: { viewer: party, editable: editable } %>
    </ul>
  </div>
<% end %>
